[Desktop Entry]
Version=1.0
Type=Application
Name=Sideband
Comment=Sideband Communicator
Exec=/home/nomad/.local/bin/sideband
Icon=pda
Path=/home/nomad
Terminal=false
StartupNotify=true
Categories=Chat;Network
