[Desktop Entry]
Version=0.01
Encoding=UTF-8
Type=Application
Name=XVNC Speedup
Comment=Disables some network heavy settings
Exec=/home/nomad/.config/autostart/x11vnc-speedup.sh
